{% extends 'base.html' %}

{% block content %}
    <form action="/edit/{{todo.id}}" method="post">
        <div class="title">
        <h2>Заголовок задачи</h2>
        </div>
        <textarea name="title" rows="5">{{todo.title}}</textarea>
        <label for="completed">Выполнено?</label>
        <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>

        <button type="submit">Сохранить</button>
    </form>
{% endblock content %}
