{% extends 'base.html' %}

{% block content %}

    <form action="/add" method="post">
        <textarea name="title" rows="5" placeholder="Введите задачу"></textarea>
        <textarea name="details" rows="5" placeholder="Описание задачи"></textarea>
        <button type="submit">Добавить</button>
    </form>
    <br>
    <h2>Задачи</h2>
    <div>
        <!-- Кнопка для генерации новых todo -->
        <form action="/create_random_todo" method="post">
            <button type="submit">Сгенерировать todo</button>
        </form>
    </div>
    <div>
        {% for todo in todos %}
            <div class="title">
                {% if todo.completed %}
                    <strike>{{ todo.title }}</strike>
                {% else %}
                    {{ todo.title }}
                {% endif %}
                <small>
                    Описание: <br> {{ todo.details }} <br>
                    <br>
                         <form action="/edit/{{todo.id}}" method="post">
                             <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>
                             {% if todo.completed %}
                                <h4>Статус: Выполнено</h4>
                                {% else %}
                                <h4>Статус: НЕ Выполнено</h4>
                                {% endif %}
                    <br>
                             <button type="submit">Сохранить</button>
                         </form>
                    <a href="edit/{{ todo.id }}">Редактировать</a>
                    <a href="delete/{{ todo.id }}">Удалить</a>
                </small>
            </div>
        {% endfor %}
    </div>
    <div>
        {% if page > 1 %}
            <a href="/todos?page={{ page - 1 }}&per_page={{ per_page }}">Previous</a>
        {% endif %}
        {% if page * per_page < total_todos %}
            <a href="/todos?page={{ page + 1 }}&per_page={{ per_page }}">Next</a>
        {% endif %}
    </div>

{% endblock content %}
